@forward "./Hint/hint";
@use "../../cssUtils.scss" as cssUtils;

@layer openui {
  .openui-form-control {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: cssUtils.$space-s;
  }
}
