@use "../../cssUtils.scss" as cssUtils;

@layer openui {
  .openui-list-block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: cssUtils.$space-l;
  }
}
