@use "../../cssUtils" as cssUtils;

@layer openui {
  .openui-toggle-group {
    display: flex;
    width: 100%;
    gap: cssUtils.$space-m;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
